RewriteEngine On

# .php aus der URL entfernen, wenn es direkt verlinkt wird
RewriteCond %{THE_REQUEST} \.php [NC]
RewriteRule ^(.+)\.php$ /$1 [R=301,L]

# Zugriff ohne .php ermöglichen
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# /index oder /index.php auf die Hauptseite weiterleiten
RewriteCond %{THE_REQUEST} /index(\.php)? [NC]
RewriteRule ^index(\.php)?$ / [R=301,L]
